<div class="row">
   <div class="col-xs-12 col-sm-12 col-md-12">
       <center>
          <h1 class="lead">SISTEM INFORMASI PELAYANAN KESEHATAN</h1>
          <h2 class="lead">BALAI KESEHATAN MATA MASYARAKAT</h2>
       </center>
       <br>
   </div>
   <div class="col-xs-12 col-sm-12 col-md-12 hidden-xs-down">
     <center>
         <%= image_tag("bakti-husada.png", class: "logo", align: "center")  %>
     </center>
     <br>
   </div>
</div>
