/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */

 // @import "bootstrap-sprockets";
 @import "bootstrap";

 @import "bootstrap-wysihtml5/bootstrap3-wysihtml5";
 @import "lightbox-bootstrap";

// $dropdown-link-color:            $gray-primary !default;

// @include media-breakpoint-up(xs) { ... }
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-up(md) { ... }
// @include media-breakpoint-up(lg) { ... }
// @include media-breakpoint-up(xl) { ... }
//
// // Example usage:
// @include media-breakpoint-up(sm) {
//   .some-class {
//     display: block;
//   }
// }


.logo{

      // height: 5%;
      max-width: 20%;
      display: block;
      margin-left: auto;
      margin-right: auto;
}

.bg-faded {
     background-color: #FFF;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #eceeef;
    font-weight: 200;
}

.center-nav {
    // position: absolute;
    // left: 0;
    // right: 0;
    // margin: 0 auto;
    // width: auto;
    // max-width: 200px;
    text-align: center;
}
